.ruby-text
  .ruby-content
    display flex
    .ruby-text-content
      display flex
      flex-direction column
      text-align center
      .rt
        font-size 30rpx
        line-height 30rpx
        margin-bottom 10rpx
