
/* remove default style */
input
  border: none
  outline: none

.search-bar
  margin 0 auto
  .search-input-warp
    border: 6rpx solid #cbb7b0
    border-radius: 50rpx
  .focus-search
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom: none

  .search-icon
    width 36rpx
    height 36rpx
