@import './styles/main.css';

wx-image
  width: 100%;

view, text
  font-family: SeeYngping,Noto Sans,Noto Sans CJK SC,SeeFont,SeeFontEx,Arial,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
